$background-color: #A593E0;
$primary-color: #566270;
$secondary-color: #E0E3DA;
$light-color: #FFFFF3;
$danger-color: #860303;

$text-decoration: none;

$btn-width: 8em;
$btn-border-radius: 0.3em;

$searchbar-width: 20em;
$searchbar-box-width: 20rem;