$breakpoint-md: 992px;

$background-color: #A593E0;
$primary-color: #566270;
$secondary-color: #E0E3DA;
$light-color: #FFFFF3;
$danger-color: #860303;

$text-decoration: none;

$btn-width: 8em;
$btn-border-radius: 0.3em;

$searchbar-width: 30em;
$searchbar-box-width: 28rem;

$searchbar-md-width: 100%;
$searchbar-md-box-width: 80%