.navbar {
  font-size: 1.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.5em;
}

.searchBarList {
  position: absolute;
  top: 3.5em;
  z-index: 100;
}

.box {
  text-align: left;
  border: black ridge 1px;
  border-radius: 0.375rem;
  margin: 2px;
  width: 20rem;
  padding-left: 5px;
  background-color: #ffffffde;
  cursor: pointer;
}

.box:active,
.box:focus,
.box:hover {
  background-color: #abababcf;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
}

.form {
  display: flex;
  flex-direction: column;
}

.form > h1 {
  align-self: center;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  gap: 0.5em;
}

.item {
  padding: 0.7em;
  border-radius: 0.5em;
  background-color: #e0e0e0;
  gap: 1.5em;
}

.item img {
  max-height: 10em;
}

.errMsg {
  font-weight: bold;
  color: #566270;
}

.title {
  font-weight: bold;
  font-size: medium;
  margin-bottom: 1px;
}

.author {
  font-size: small;
  margin-bottom: 1px;
}

.truncateLongTexts {
  width: 35em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link {
  margin-top: 0.5em;
  margin-bottom: 0;
  color: #566270;
}

.form-floating>.form-control:focus {
  box-shadow: 0 0 0 0.25rem #5662703c;
  border-color: #5662703c;
}

@import "./styles/variables";
@import "./styles/mixins";

h1 {
  font-weight: bold;
}

a {
  text-decoration: $text-decoration;
  color: $primary-color;

  &:hover {
    color: darken($primary-color, 20%);
  }
}

.btn
{
  @include btn-style;
  background-color: $primary-color;
  border-color: $primary-color;
  color: $light-color;
  
  &:hover{
    background-color: darken($primary-color, 10%);
    border-color: darken($primary-color, 10%);
  }

  :not(.btn-check)+&:active{
    background-color: darken($primary-color, 40%);
    border-color: darken($primary-color, 40%);
  }

  &:disabled{
    background-color: lighten($primary-color, 10%);
    border-color: lighten($primary-color, 10%);
  }
}