@import "./styles/variables";
@import "./styles/mixins";

::selection {
  background-color: $background-color;
  color: $light-color;
}

h1 {
  font-weight: bold;
}

a {
  text-decoration: $text-decoration;
  color: $primary-color;

  &:hover {
    color: darken($primary-color, 20%);
  }
}

.errMsg {
  font-weight: bold;
  color: $danger-color;
}

.cont {
  @include flex-column;

  &>h1 {
    align-self: center;
    text-align: center;
  }
}

.card-body {
  background-color: lighten($secondary-color, 3%);
  border-radius: inherit;
}

.form-control {
  background-color: $light-color;

  &:focus {
    background-color: lighten($light-color, 1%);
    border-color: $background-color;
    box-shadow: 0 0 3px 0.20rem $background-color;
  }
}

.btn {
  @include btn-style;
  background-color: $primary-color;
  border-color: $primary-color;
  color: $light-color;

  &:hover {
    background-color: darken($primary-color, 10%);
    border-color: darken($primary-color, 10%);
  }

  :not(.btn-check)+&:active {
    background-color: darken($primary-color, 40%);
    border-color: darken($primary-color, 40%);
  }

  &:disabled {
    background-color: lighten($primary-color, 10%);
    border-color: lighten($primary-color, 10%);
  }
}

.navbar {
  @include space-between;
  font-size: 1.3em;
  align-items: center;
  margin: 1em 1.5em;

  .toggleButton {
    color: $primary-color;
  }

  .logo {
    width: 30vw;
    max-width: 400px;
  }

  .searchBar {
    &:focus {
      border-color: $secondary-color;
      box-shadow: 0 0 3px 0.20rem $secondary-color;
    }
  }

  .searchBarList {
    position: absolute;
    top: 3.5em;
    z-index: 100;

    .box {
      border: $primary-color solid 1px;
      border-radius: 0.375rem;
      margin: 2px;
      padding-left: 5px;
      background-color: $light-color;
      cursor: pointer;

      &:hover {
        background-color: darken($light-color, 10%);
      }

      &:active {
        background-color: darken($light-color, 15%);
      }

      .title {
        font-weight: bold;
        font-size: medium;
        margin-bottom: 1px;
      }

      .author {
        font-size: small;
        margin-bottom: 1px;
      }
    }
  }

  .settingsButton {
    color: darken($primary-color, 20%);
    font-size: 3rem;
  }
}

.list {
  @include flex-column;
  padding: 0.5em;
  gap: 0.5em;
}

.item {
  padding: 0.7em;
  border-radius: 0.5em;
  background-color: $light-color;
}

.book {
  display: flex;

  .bookImg {
    max-height: 10em;
  }

  .bookInfo {

    h4,
    .subtitle {
      font-weight: bold;
    }

    h4 {
      @include space-between;
    }

    .truncateLongTexts {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.user {
  @include space-between;
  align-items: center;

  .removeUserIcon {
    font-size: 1.4em;
    color: $danger-color;
  }
}

.header {
  @include space-between;
  align-items: center;

  .signOutButton {
    font-size: 2em;
    padding-right: 0.5em;

    button {
      background: none;
      border: none;
      color: $primary-color;

      &:hover {
        color: darken($primary-color, 10%);
      }
    }
  }
}

.bookPageHeader {
  margin-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;

  h2 {
    font-weight: bold;
  }

  img {
    height: 30vh;
    border: 1px solid $primary-color;
  }
}

.bookPageContainer {
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
  margin-bottom: 1.5em;
  display: flex;
  justify-content: center;

  .bookPageInfo {
    border: 1px solid $primary-color;
    padding: 2em;
    display: inline-block;

    .bookStateControl {
      @include flex-column;
      gap: 1em;
      align-items: center;

      .bookSaveButton {
        border-color: $background-color;
        background-color: lighten($background-color, 5%);

        &:hover {
          background-color: $background-color;
        }
      }

      .bookRemoveButton {
        border-color: $danger-color;
        background-color: lighten($danger-color, 5%);

        &:hover {
          background-color: $danger-color;
        }
      }
    }
  }
}

.bookDescription {
  padding-left: 2em;
  padding-right: 2em;
}

@media (max-width: $breakpoint-md) {
  .searchBar {
    width: $searchbar-md-width;
  }

  .searchBarList {
    .box {
      width: $searchbar-md-box-width;
    }
  }
}

@media (min-width: $breakpoint-md) {
  .searchBar {
    width: $searchbar-width;
  }

  .searchBarList {
    .box {
      width: $searchbar-box-width;
    }
  }
}