body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(169, 245, 69, 0.521);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

.navbar {
  font-size: 1.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.5em;
}

.btn {
  font-size: 1.2em;
  width: 8em;
  background-color: rgba(29, 97, 63, 0.958);
  border-radius: 0.3em;
  border-color: rgba(28, 135, 82, 0.958);
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: rgba(44, 178, 111, 0.958);
  border-color: rgba(34, 161, 97, 0.958);
}

.form {
  display: flex;
  flex-direction: column;
}

.form > h1 {
  align-self: center;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  gap: 0.5em;
}

.item {
  padding: 0.7em;
  border-radius: 0.5em;
  background-color: #e0e0e0;
  gap: 1.5em;
}

.item img {
  max-height: 10em;
}

section {
  margin-bottom: 1.2em;
}

h1 {
  font-weight: bold;
}

.errMsg {
  font-weight: bold;
}
